@charset "ISO-8859-1";
h1{
	font-style:serif;
}

.container{
	border: solid black 5px;
	margin-left:100px;
	padding:10px;
	margin-right:100px;
}

.box{
	padding-left:25px;
}
#align{
	color:blue;
	width:50%;
}
#read{
	padding-left:20px;
	border-radius:6px;
}